* {
    margin: 0;
    padding: 0;
    font-family: Helvetica;
}

.navigate {
    background-color: rgb(234, 232, 232);
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigate .ddown .dropbtn {
  font-size: 25px;
}

a:link { text-decoration: none;}
a:visited { text-decoration: none; }
a:hover { color: #1464e3;
  text-decoration: underline;}
a:active { text-decoration: none; }

.navigate a {
    float: left;
    font-size: 25px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* The dropdown container */
  .ddown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .ddown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0;
  }

  /*header a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }*/

  .ddown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 106px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .ddown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .ddown-content a:hover {
    background-color: #ddd;
  }

  .ddown:hover .ddown-content {
    display: block;
  }