* {
    margin: 0;
    padding: 0;
    font-family: Helvetica;
}

.nav {
    background-color: rgb(234, 232, 232);
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav .dropdown .dropbtn {
  font-size: 25px;
}

a:link { text-decoration: none;}
a:visited { text-decoration: none; }
a:hover { color: #1464e3;
  text-decoration: underline;}
a:active { text-decoration: none; }

.nav a {
    float: left;
    font-size: 25px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* The dropdown container */
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0;
  }

  /*header a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }*/

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 106px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .dropdown-content a:hover {
    background-color: #ddd;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  /*Intro*/

  .intro {
    display: flex;
    grid-area: "intro";
    background: linear-gradient(to top, rgba(255, 255, 255, .5), rgba(255, 255, 255, .5)), url("background.jpg");
    background-size: 100%;
    object-fit: contain;
    align-items: center;
}

.intro div {
    display: flexbox;
    border: 1px solid black;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 70px;
    margin-left: 100px;
    margin-right: 100px;
    padding: 5px;
    background: linear-gradient(to top, rgba(255, 255, 255, .7), rgba(255, 255, 255, .7));
}

.intro h1 {
    font-size: 50px;
    line-height: 65px;
}

.intro #welcome {
  letter-spacing: 1px;
  line-height: 1.2;
  font-size: 25px;
  padding-bottom: 30px;
}

/*LINKS*/

.tutorial {
  margin: 5px;
  padding: 30px;
  letter-spacing: 1.5px;
  line-height: 1.5;
}

.link {
  text-align: center;
  font-size: 1.5em;
  letter-spacing: 1.5pxs;
}

.author {
  text-align: center;
  padding: 15px;
}

@media screen and (max-width: 768px){
  .nav a {
    font-size: 1em;
  }

  .nav .dropdown .dropbtn {
    font-size: 1em;
  }
  
  .intro {
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
  }

  .intro div {
    width: 80%;
    margin: 0;
  }
}